{% extends "app/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/add_motor.css' %}">
{% endblock %}

{% block title %}Add motor{% endblock %}

{% block content %}
    <div class="addmotor">
        <h1>Add a New Vehicle</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Vehicle</button>
        </form>
        <p><a href="{% url 'app:add_advertisement' %}">BACK TO CREATE ADVERTISEMENT!</a></p>
    </div>
{% endblock %}