{% extends "app/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/add_ad.css' %}">
{% endblock %}

{% block title %}Add advertisement{% endblock %}

{% block content %}
    <div class="addadvertisement">
        <h1>Add a new ad</h1>
        {% if submitted %}
            Your advertisement was submitted successfully!
        {% else %}

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
         <p><a href="{% url 'app:add_motor' %}">ADD YOUR MOTORCYCLE!</a></p>
    </div>
{% endblock %}