{% extends "app/base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/all_ads.css' %}">
{% endblock %}

{% block title %}All Ads{% endblock %}

{% block content %}
    <h2>All Bikes, One Place🏍️</h2>

<form method="GET" class="main-search-form">
    <input type="text" name="q" placeholder="Search (e.g. BMW 2015 23000)" value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>

<form method="GET" class="filter-form">
     <div class="filter-item">
        <label for="brand">Brand:</label>
        <select id="brand" name="brand">
            <option value="" {% if not request.GET.brand %}selected{% endif %}>Any Brand</option>
            {% for b in brands %}
                <option value="{{ b }}" {% if request.GET.brand == b %}selected{% endif %}>{{ b }}</option>
            {% endfor %}
        </select>
     </div>
    <div class="filter-item">
        <label for="model">Model:</label>
        <select id="model" name="model">
            <option value="" {% if not request.GET.model %}selected{% endif %}>Any Model</option>
            {% for m in models %}
                <option value="{{ m }}" {% if request.GET.model == m %}selected{% endif %}>{{ m }}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="price-slider-container">
        <label>Price range (€)</label>

        <div class="number-inputs">
            <input type="number" id="min_price_input" min="0" max="70000" step="500" 
                value="{{ request.GET.min_price|default:'0' }}">
            <input type="number" id="max_price_input" min="0" max="70000" step="500" 
                value="{{ request.GET.max_price|default:'70000' }}">
        </div>

        <div class="sliders">
            <input type="range" id="price-min" min="0" max="70000" step="500" 
                value="{{ request.GET.min_price|default:'0' }}">
            <input type="range" id="price-max" min="0" max="70000" step="500" 
                value="{{ request.GET.max_price|default:'70000' }}">
        </div>

        <input type="hidden" id="min_price_hidden" name="min_price"
                value="{{ request.GET.min_price|default:'0' }}">
        <input type="hidden" id="max_price_hidden" name="max_price"
                value="{{ request.GET.max_price|default:'70000' }}">
    </div>


<div class="year-slider-container">
   <label for="yearRange">Year range</label>

  <div class="number-inputs">
    <input type="number" id="min_year_input" min="1900" max="{{ now|date:'Y' }}" step="1" 
        value="{{ request.GET.min_year|default:'1900' }}">
    <input type="number" id="max_year_input" min="1900" max="{{ now|date:'Y' }}" step="1" 
        value="{{ request.GET.max_year|default:now.year }}">
  </div>

  <div class="sliders">
    <input type="range" id="year-min" min="1900" max="{{ now|date:'Y' }}" step="1" 
        value="{{ request.GET.min_year|default:'1900' }}">
    <input type="range" id="year-max" min="1900" max="{{ now|date:'Y' }}" step="1" 
        value="{{ request.GET.max_year|default:now.year }}">
  </div>

  <input type="hidden" id="min_year_hidden" name="min_year" value="{{ request.GET.min_year|default:'1900' }}">
  <input type="hidden" id="max_year_hidden" name="max_year" value="{{ request.GET.max_year|default:now.year }}">
</div>


<div class="mileage-slider-container">
  <label>Mileage range (km)</label>

  <div class="number-inputs">
    <input type="number" id="min_mileage_input" min="0" max="200000" step="1000" 
        value="{{ request.GET.min_mileage|default:'0' }}">
    <input type="number" id="max_mileage_input" min="0" max="200000" step="1000" 
        value="{{ request.GET.max_mileage|default:'200000' }}">
  </div>

  <div class="sliders">
    <input type="range" id="mileage-min" min="0" max="200000" step="1000" 
        value="{{ request.GET.min_mileage|default:'0' }}">
    <input type="range" id="mileage-max" min="0" max="200000" step="1000" 
        value="{{ request.GET.max_mileage|default:'200000' }}">
  </div>

  <input type="hidden" id="min_mileage_hidden" name="min_mileage" value="{{ request.GET.min_mileage|default:'0' }}">
  <input type="hidden" id="max_mileage_hidden" name="max_mileage" value="{{ request.GET.max_mileage|default:'200000' }}">
</div>


<div class="power-slider-container">
  <label>Power range (HP)</label>

  <div class="number-inputs">
    <input type="number" id="min_power_input" min="0" max="300" step="1" 
        value="{{ request.GET.min_power|default:'0' }}">
    <input type="number" id="max_power_input" min="0" max="300" step="1" 
        value="{{ request.GET.max_power|default:'300' }}">
  </div>

  <div class="sliders">
    <input type="range" id="power-min" min="0" max="300" step="1" 
        value="{{ request.GET.min_power|default:'0' }}">
    <input type="range" id="power-max" min="0" max="300" step="1" 
        value="{{ request.GET.max_power|default:'300' }}">
  </div>

  <input type="hidden" id="min_power_hidden" name="min_power" value="{{ request.GET.min_power|default:'0' }}">
  <input type="hidden" id="max_power_hidden" name="max_power" value="{{ request.GET.max_power|default:'300' }}">
</div>

     <div class="filter-item">
        <label for="location">Location:</label>
        <select id="location" name="location">
            <option value="" {% if not request.GET.location %}selected{% endif %}>Any Location</option>
            {% for loc in locations %}
                <option value="{{ loc }}" {% if request.GET.location == loc %}selected{% endif %}>{{ loc }}</option>
            {% endfor %}
        </select>
     </div>

     <div class="filter-item">
        <label for="condition">Condition:</label>
        <select id="condition" name="condition">
            <option value="" {% if not request.GET.condition %}selected{% endif %}>Any Condition</option>
            <option value="new" {% if request.GET.condition == 'new' %}selected{% endif %}>New</option>
            <option value="excellent" {% if request.GET.condition == 'excellent' %}selected{% endif %}>Excellent</option>
            <option value="very good" {% if request.GET.condition == 'very good' %}selected{% endif %}>Very good</option>
            <option value="good" {% if request.GET.condition == 'good' %}selected{% endif %}>Good</option>
            <option value="smaller investments required" {% if request.GET.condition == 'smaller investments required' %}selected{% endif %}>Smaller investments required</option>
            <option value="not working" {% if request.GET.condition == 'not working' %}selected{% endif %}>Not working</option>
        </select>
     </div>

    <button type="submit" class="filter-submit-btn">Search</button>
</form>

<hr>

<div class="ads-list">
        {% for ad in ads %}
           <div class="ad-item">
                <a href="{% url 'app:ad_detail' ad.id %}">
                    <img src="{{ ad.motor.image.url }}" alt="{{ ad.motor.name }}" class="ad-image">
                    <h3>{{ ad.title }}</h3>
                </a>
                <p><strong>{{ ad.motor.brand }}</strong> - {{ ad.motor.model }}</p>
                <p>{{ ad.motor.price }} €</p>
                {% if ad.id in favorites %}
                    <p class="favorite">❤️ Favorite</p>
                {% endif %}
            </div>
        {% empty %}
            <div class="no-ads-msg">No ads found.</div>
        {% endfor %}
</div>


<script>
    function initializeRangeSliders(minInputId, maxInputId, minSliderId, maxSliderId, minHiddenId, maxHiddenId, defaultMin, defaultMax) {
        const minInput = document.getElementById(minInputId);
        const maxInput = document.getElementById(maxInputId);
        const minSlider = document.getElementById(minSliderId);
        const maxSlider = document.getElementById(maxSliderId);
        const minHidden = document.getElementById(minHiddenId);
        const maxHidden = document.getElementById(maxHiddenId);

        const minVal = parseInt(minInput.value) || defaultMin;
        const maxVal = parseInt(maxInput.value) || defaultMax;

        minSlider.value = minVal;
        maxSlider.value = maxVal;
        minInput.value = minVal;
        maxInput.value = maxVal;
        minHidden.value = minVal;
        maxHidden.value = maxVal;

    function syncSliders() {
        let minV = parseInt(minSlider.value);
        let maxV = parseInt(maxSlider.value);
        if (minV > maxV) {
        minV = maxV;
        minSlider.value = maxV;
        minInput.value = maxV;
        }
        minInput.value = minV;
        maxInput.value = maxV;
        minHidden.value = minV;
        maxHidden.value = maxV;
    }

    function syncInputs() {
        let minV = parseInt(minInput.value);
        let maxV = parseInt(maxInput.value);
        if (minV > maxV) {
        minV = maxV;
        minInput.value = maxV;
        }
        minSlider.value = minV;
        maxSlider.value = maxV;
        minHidden.value = minV;
        maxHidden.value = maxV;
    }

    minSlider.addEventListener('input', syncSliders);
    maxSlider.addEventListener('input', syncSliders);
    minInput.addEventListener('input', syncInputs);
    maxInput.addEventListener('input', syncInputs);
    }

    initializeRangeSliders('min_price_input', 'max_price_input', 'price-min', 'price-max', 'min_price_hidden', 'max_price_hidden', 0, 50000);
    initializeRangeSliders('min_year_input', 'max_year_input', 'year-min', 'year-max', 'min_year_hidden', 'max_year_hidden', 1900, new Date().getFullYear());
    initializeRangeSliders('min_mileage_input', 'max_mileage_input', 'mileage-min', 'mileage-max', 'min_mileage_hidden', 'max_mileage_hidden', 0, 200000);
    initializeRangeSliders('min_power_input', 'max_power_input', 'power-min', 'power-max', 'min_power_hidden', 'max_power_hidden', 0, 300);

    initializePriceSliders();

    function updateValue(sliderId, displayId) {
        const slider = document.getElementById(sliderId);
        const display = document.getElementById(displayId);
        display.textContent = slider.value;

        slider.addEventListener('input', () => {
            display.textContent = slider.value;
        });
    }

    updateValue('min_year', 'minYearVal');
    updateValue('max_year', 'maxYearVal');
    updateValue('min_mileage', 'minMileageVal');
    updateValue('max_mileage', 'maxMileageVal');
    updateValue('min_power', 'minPowerVal');
    updateValue('max_power', 'maxPowerVal');



</script>
{% endblock %}
