{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MotorMadness{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'app/motor.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <ul class="navlinks">
                <li><a href="{% url 'app:home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="{% url 'app:all_ads' %}">All Ads</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'app:profile' user_id=user.id %}" class="{% if request.path == '/profile/' %}active{% endif %}">My profile</a></li>
                    <li><a href="{% url 'app:add_advertisement' %}" class="{% if request.path == '/add/' %}active{% endif %}">Add an advertisement</a></li>
                    <li><a href="{% url 'app:quiz' %}">Motorcycle recommendation quiz</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Go to Admin Panel</a></li>
                    {% endif %}
                    <li><a href="{% url 'app:logout' %}" class="{% if request.path == '/logout/' %}active{% endif %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'app:login' %}" class="{% if request.path == '/login/' %}active{% endif %}">Login</a></li>
                    <li><a href="{% url 'app:register' %}" class="{% if request.path == '/register/' %}active{% endif %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    

    <!-- Glavni sadržaj stranice -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        // Funkcija za prikazivanje/sakrivanje padajućeg izbornika
        function toggleMenu() {
            const menu = document.querySelector('.nav-options');
            menu.classList.toggle('active');  // Dodavanje/uklanjanje klase za vidljivost
        }
    </script>
</body>


</html>