{% extends "app/base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/edit_profile.css' %}">
{% endblock %}


{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="edit-profile-container">
  <h2>Edit Your Profile</h2>
  <form method="post" class="edit-profile-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-group">
      <button type="submit" class="btn save">Save Changes</button>
      <a href="{% url 'app:profile' user_id=user.id %}" class="btn cancel">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
