{% extends "app/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home_title">
        <h1 class="title">MotorMadness</h1>

        <div class="image-row">
            <img src="{% static 'images/m1.jpg' %}" alt="First Image" class="image">
            <img src="{% static 'images/m2.jpg' %}" alt="Second Image" class="image">
            <img src="{% static 'images/m3.jpg' %}" alt="Third Image" class="image">
        </div>

        <p class="quote">Find your next obsession!</p>
    </div>
{% endblock %}