{% extends "app/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/pass_changed.css' %}">
{% endblock %}

{% block title %}Password Changed{% endblock %}

{% block content %}
  <div class="pass-changed-container">
    <h2 class="pass-changed-title">Password Changed Successfully</h2>
    <p class="pass-changed-message">Your password has been updated.</p>
    <a href="{% url 'app:profile' user_id=user.id %}" class="pass-changed-button">Return to Profile</a>
  </div>
{% endblock %}