{% extends "app/base.html" %}

{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-section">
  <section class="profile-top">
    <div class="profile-container">
      <h2>Welcome, {{ user.username }}!</h2>
      <div class="profile-card">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone number:</strong> {{ user.phone_number }}</p>
        <p><strong>Location:</strong> {{ user.location }}</p>
      </div>

      <div class="profile-actions">
        <a href="{% url 'app:edit_profile' %}" class="nav-link">Edit profile</a>
        <a href="{% url 'app:password_change' %}" class="nav-link">Change password</a>
        <a href="{% url 'app:add_advertisement' %}" class="nav-link">Add advertisement</a>
        <a href="{% url 'app:add_motor' %}" class="nav-link">Add motorcycle</a>
        <a href="{% url 'app:favorites' %}" class="nav-link">My favorite ads</a>
      </div>
    </div>
  </section>


  <section class="profile-bottom">
      <h2>Your Ads</h2>
      <div class="ads-grid">
        {% for ad in advertisements %}
          <div class="ad-card">
            <img src="{{ ad.motor.image.url }}" alt="{{ ad.motor.name }}" class="ad-image">
            <h4>{{ ad.title }}</h4>
            <p><strong>Motor:</strong> {{ ad.motor.name }}</p>
            <p><strong>Price:</strong> {{ ad.motor.price }} EUR</p>
            <div class="ad-buttons">
              <a href="{% url 'app:ad_detail' ad.id %}" class="btn btn-details">Details</a>
              <a href="{% url 'app:edit_ad' ad.id %}" class="btn btn-edit">Edit ad</a>
              <a href="{% url 'app:edit_motor' ad.motor.id %}" class="btn btn-edit-motor">Edit Motorcycle</a>
              <a href="{% url 'app:delete_ad' ad.id %}" class="btn btn-delete">Delete ad</a>
            </div>
          </div>
        {% empty %}
          <p>No advertisements found.</p>
        {% endfor %}
      </div>
  </section>

</div>
{% endblock %}
