{% extends "app/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/quiz.css' %}">
{% endblock %}

{% block title %}Quiz{% endblock %}

{% block content %}


<form method="POST" action="{% url 'app:quiz_results' %}" class="quiz-form">
    {% csrf_token %}

     <h2 class="quiz-header">
        <img src="{% static 'images/motorbike.png' %}" alt="Motor Icon" class="icon">
        Discover your ideal motorcycle with this quick quiz!
    </h2>

    <div class="quiz-question">
        <h3 class="quiz-title">1. What type of rider are you?</h3>
        <label class="quiz-option"><input type="radio" name="driving_style" value="beginner" required> Beginner</label>
        <label class="quiz-option"><input type="radio" name="driving_style" value="experienced"> Experienced</label>
        <label class="quiz-option"><input type="radio" name="driving_style" value="adventurer"> Adventurous</label>
    </div>

    <div class="quiz-question">
        <h3 class="quiz-title">2. What's your budget?</h3>
        <label class="quiz-option"><input type="radio" name="budget" value="low" required> Less than €5000</label>
        <label class="quiz-option"><input type="radio" name="budget" value="mid"> €5000 – €10000</label>
        <label class="quiz-option"><input type="radio" name="budget" value="high"> More than €10000</label>
    </div>

    <div class="quiz-question">
        <h3 class="quiz-title">3. Do you prefer newer or older bikes?</h3>
        <label class="quiz-option"><input type="radio" name="age_pref" value="new" required> Newer</label>
        <label class="quiz-option"><input type="radio" name="age_pref" value="any"> Doesn't matter</label>
        <label class="quiz-option"><input type="radio" name="age_pref" value="old"> Older</label>
    </div>

    <div class="quiz-question">
        <h3 class="quiz-title">4. How much mileage is acceptable?</h3>
        <label class="quiz-option"><input type="radio" name="mileage_pref" value="low" required> Less than 10,000 km</label>
        <label class="quiz-option"><input type="radio" name="mileage_pref" value="medium"> Less than 30,000 km</label>
        <label class="quiz-option"><input type="radio" name="mileage_pref" value="any"> Doesn't matter</label>
    </div>

    <div class="quiz-question">
        <h3 class="quiz-title">5. Which brand do you prefer?</h3>
        <select name="brand" required class="quiz-select">
            <option value="any">Doesn't matter</option>
            {% for b in brands %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="quiz-submit">
        <button type="submit" class="quiz-button">Show my recommendations</button>
    </div>
</form>

{% endblock %}