
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
    z-index: 1000;
}



/* Centriranje ul kroz pozicioniranje */
.navlinks {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/* Linkovi */
.navlinks li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.navlinks li a:hover,
.navlinks li a.active {
    color: #64b5f4;
}



@media (max-width: 768px) {
    nav .nav-options {
        display: none;  
    }

    .nav-options.active {
        display: flex; 
    }

    nav .current-page {
        display: none;  
    }

    nav a {
        font-size: 20px;
        padding: 15px;
    }
}



/* Omot za home koji zauzima cijeli ekran */

/* Glavni sadržaj centriran unutar wrappera */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-wrapper {
    flex: 1;
}

.home_title {
    height: 100vh;
    background: linear-gradient(to bottom, #2e2e2e, #e0e0e0);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}



.title {
    font-size: 4rem; 
    color: #64b5f4; 
    margin: 0; 
}


.image-row {
    display: flex; /* Postavlja slike u red */
    justify-content: center; /* Centriranje slika unutar reda */
    gap: 20px; /* Razmak između slika */
    margin-top: 20px; /* Razmak između naslova i slika */
    flex-wrap: wrap;
}



.image {
    width: 100px; /* Postavlja širinu slike */
    height: 100px; /* Postavlja visinu slike */
    object-fit: cover; /* Osigurava da slike ne deformiraju proporcije */
    border-radius: 8px; /* Zaobljeni rubovi slika */
    margin: 0 5px; /* Dodavanje razmaka između slika */
    border: 5px solid #000; /* Crni obrub oko slika */
    transition: all 0.3s ease-in-out; /* Glatke promjene prilikom hover efekta */
}

.image:hover {
    filter: grayscale(0%); /* Boje se vraćaju na normalne prilikom hovera */
    transform: scale(1.1); /* Povećanje slike pri hoveru */
    border: 5px solid  #64b5f4; /* Bijeli obrub na hoveru */
}

.quote{
    color:#000;
    font-size: 25px;
    text-shadow: #000;
}


/* Stil za login-container div koji sadrži naslov i formu */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Pokriva cijeli visoki ekran */
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("/static/images/log.jpg");
    background-size: cover;  /* Slika će pokriti cijeli prostor */
    background-position: center;  /* Slika će biti centrirana */
    color: #64b5f4;  
    text-align: center;  /* Naslov i forma bit će centrirani */
}


.login-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;  
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 20px;
    border-radius: 8px;
}


.login-container button {
    background-color: #424241;
    color: #64b5f4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}

.login-container button:hover {
    background-color: #64b5f4;
    color: #424241;
}

.register-link {
    margin-top: 15px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.register-link a {
    color: #64b5f4;
    text-decoration: underline;
    font-weight: bold;
}

.register-link a:hover {
    color: rgb(52, 74, 240);
}



.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Pokriva cijeli visoki ekran */
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("/static/images/log.jpg");
    background-size: cover;  /* Slika će pokriti cijeli prostor */
    background-position: center;  /* Slika će biti centrirana */
    color: #64b5f4;  /* Tekst će biti bijele boje */
    text-align: center;  /* Naslov i forma bit će centrirani */
}

/* Stil za naslov */
.register-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Stil za formu */
.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;  /* Maksimalna širina forme */
    background-color: rgba(0, 0, 0, 0.5);  /* Poluprozirna pozadina forme */
    padding: 20px;
    border-radius: 8px;
}

/* Stil za dugme */
.register-container button {
    background-color: #424241;
    color: #64b5f4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}

.register-container button:hover {
    background-color: #64b5f4;
    color: #424241;
}

.login-link {
    margin-top: 15px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.login-link a {
    color: #64b5f4;
    text-decoration: underline;
    font-weight: bold;
}

.login-link a:hover {
    color: rgb(52, 74, 240);
}


.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}