.profile-top {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url("/static/images/profile-bg.png") no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-top::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.profile-bottom {
  flex: 1;
  background: rgba(200, 200, 200, 0.5);
  margin: 0;
  padding: 30px;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
}

.profile-container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 400px;
  text-align: left;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.profile-card p {
  margin: 10px 0;
  font-size: 16px;
  color: #ffffff;
}


.profile-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #f1f1f1cd;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #e0e0e0;
  color: #000;
}

.ads-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.ad-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fafafa;
  overflow: hidden;
  min-height: 400px;
}

.ad-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.ad-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  flex: 1;

  display: flex;           
  justify-content: center; 
  align-items: center;     
}

.btn-details {
  background-color: #64b5f4;
}

.btn-edit {
  background-color: #64b5f4;
}

.btn:hover {
  opacity: 0.9;
  background-color: rgb(52, 74, 240);
}

.btn-edit-motor {
  background-color: #64b5f4;
}

.btn-delete {
  background-color: #64b5f4;
}